# Aliases eza
alias ls="eza -a --icons"
alias ll="eza -la --icons"
alias la="eza -lagh --icons"
alias lt="eza -a --tree --icons --level=2"
alias ltf="eza -a --tree --icons"
alias lat="eza -lagh --tree --icons"

# Aliases système
alias grep="grep --color=auto"
alias ipa="ip -c a"
alias df="df -h"
alias free="free -h"
alias sudo='sudo '
