# Aliases exa
alias ls="exa -a --icons"
alias ll="exa -la --icons"
alias la="exa -lagh --icons"
alias lt="exa -a --tree --icons --level=2"
alias ltf="exa -a --tree --icons"
alias lat="exa -lagh --tree --icons"

# Aliases système
alias grep="grep --color=auto"
alias ipa="ip -c a"
alias df="df -h"
alias free="free -h"
alias sudo='sudo '
